.Signup {
  display: flex;
  justify-content: center;
}

.form_login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.form_container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid gainsboro;
  padding: 40px;
}

.form_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.form_container > form > h4 {
  margin-bottom: 50px;
}

.form_container > form > input {
  height: 30px;
  margin-bottom: 5px;
  background-color: white;
  width: 98%;
}

.form_input {
  font-size: 15px;
}

.form_input::placeholder {
  font-size: 15px;
}

.form_input:focus {
  outline: none;
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}
