@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-style: normal;
}

.form-container {
    width: 84%;
    margin: 50px auto;
}
.form-grid{
    padding-left: 71px;
}

.form-header {
    height: 100px;
    width: 100%;
}

.form-title {
    text-align: center;
    padding-bottom: 25px;
}

label {
    display: block;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 15px;
}

input {
    height: 32px; 
    background: rgba(194, 194, 194, 0.8);
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: rgb(0,0,0);
}

input::placeholder {
    color: #797575;
    font-weight: bold;
    font-size: 24px;
}

input:focus {
    border: 2px solid #C8102E;
    outline: none;
}

.input-long {
    width: 525px;
    height: 58px;
}

.input-short {
    width: 231px;
    height: 58px;
}

.input-short2{
    width: 178px;
    height: 58px;
}

select {
    height: 32px; 
    background: rgba(194, 194, 194, 0.8);
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
    border: 2px solid #C8102E;
}

.checkbox-container {
    display: flex;
    direction: row;
    align-items: center;
    padding-top: 15px;
}

.checkbox-label {
    padding-left: 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #C8102E;
}

.checkbox-input {
    width: 30px;
    height: 30px;
}

button {
    border-radius: 0.4rem;
    outline: none;
    height: 55px;
    width: 215px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.button-red {
    background-color: #C8102E;
    color: #FFFFFF;
}

.button-red:hover {
    background-color: #FFFFFF;
    color: #C8102E;
    cursor: pointer;
    transition: 0.3s;
}

.button-grey {
    background-color:#FFFFFF;
    color: #C8102E;
}

.button-grey:hover {
    background-color: #C8102E;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.buttons-container {
    margin-top: 36px;
    float: right;

}

.buttons-container > * {
    display: inline-block;
    margin: 0px 10px;
}

.logo-image {
    padding: 10px 0px;
}

.upload-button {
    border-radius: 0.4rem;
    outline: none;
    height: 89px;
    width: 215px;
    font-size: 24px;
    line-height: 29px;
    font-weight: bold;
}

textarea {
    width: 496px;
    height: 134px;
    background: rgba(194, 194, 194, 0.8);
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: rgb(0,0,0);
}

textarea:focus {
    border: 2px solid #C8102E;
    outline: none;
}