@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-style: normal;
}

.form-container {
    width: 50%;
    margin: 50px auto;
}

.large {
    width: 100%;
}

.small {
    width: 20%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    height: 32px; 
    background: rgba(194, 194, 194, 0.8);
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}

input::placeholder {
    color: #797575;
    font-weight: bold;
    font-size: 12px;
}

input:focus {
    border-radius: 5px;
    border: 2px solid #C8102E;
    outline: none;
}

.input-long {
    width: 250px;
}

.input-short {
    width: 150px;
}

select {
    height: 28px; 
    background: rgba(194, 194, 194, 0.8);
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}

select::-ms-expand {
    display: none;
}

select:focus {
    outline: none;
    border: 2px solid #C8102E;
}

.checkbox-container {
    display: flex;
    direction: row;
    align-items: center;
}

.checkbox-label {
    padding-left: 10px;
    font-weight: lighter;
    font-size: 12px;
    color: #C8102E;
}

button {
    padding: 9px 25px;
    border-radius: 0.4rem;
    outline: none;
}

.button-right {
    margin-top: 36px;
    float: right;
}

.button-red {
    background-color: #C8102E;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.button-grey {

}

.form-header {
    height: 100px;
    width: 100%;
}

.form-title {
    text-align: center;
    padding-bottom: 25px;
}