.Signup {
  display: flex;
  justify-content: center;
}

.form_student_info {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form_container_studentinfo {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.separator {
  border: 2px solid rgb(0, 0, 0);
  width: 100%;
}

.form_container_studentinfo > h1 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.form_container_studentinfo > form {
  width: 100%;
  padding-top: 30px;
}

h4 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
}

@media screen and (min-width: 701px) {
  .form_input,
  .date-picker {
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
    width: 90%;
  }

  .row > div.column {
    flex: 0 50%;
    width: 100%;
    padding: 10px;
  }

  .list_of_all_degrees_type {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .form_input,
  .date-picker {
    height: 45px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    color: rgb(0, 0, 0);
  }

  .row > div.column {
    flex: 0 50%;
    width: 100%;
  }

  .list_of_all_degrees_type {
    width: 100%;
  }
}

/*Upload Button*/
span.MuiButton-contained {
  border-radius: 10px;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  background: #c8102e;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
}

span.MuiButton-contained:hover {
  border-color: darkgray;
  background: #ffffff;
  color: #c8102e;
}

.form-control {
  margin-bottom: 30px;
}

.error {
  color: red;
  font-size: 15px !important;
}

.button-nav {
  display: flex;
  flex-flow: wrap;
  align-content: flex-end;
}

.button-red {
  border-radius: 10px;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  background: #c8102e;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.button-white {
  border-radius: 10px;
  height: 40px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  background: white;
  color: #c8102e;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
}

.button-white:hover {
  background-color: #c8102e;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

/* Testing React Date Picker */

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-date-picker {
  display: inline-flex;
  position: relative;
}
.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid gray;
}
.react-date-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}
.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}
.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}
.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-date-picker__button:enabled {
  cursor: pointer;
}
.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #0078d7;
}
.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
}
.react-date-picker__button svg {
  display: inherit;
}
.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.react-date-picker__calendar--closed {
  display: none;
}
.react-date-picker__calendar .react-calendar {
  border-width: thin;
}

.react-date-picker * {
  font-family: inherit;
}
.react-date-picker--closed {
  border-radius: 4px;
}
.react-date-picker--closed .react-date-picker__wrapper {
  border-radius: 4px;
}
.react-date-picker--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-date-picker--open .react-date-picker__wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-date-picker__wrapper {
  background: white;
  border: 0;
  border-radius: 4px;
  font-size: 1.25em;
}
.react-date-picker__inputGroup {
  min-width: calc(4px + (4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  display: flex;
  padding: 2px;
  align-items: baseline;
}
.react-date-picker__inputGroup__divider {
  padding: 1px;
}
.react-date-picker__inputGroup__input {
  -moz-appearance: textfield;
}
.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}
.react-date-picker__calendar {
  border-radius: 4px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-top-left-radius: 0 !important;
}
.react-date-picker__calendar .react-calendar {
  border-top-left-radius: 0 !important;
}
.react-date-picker__clock {
  border-radius: 4px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  font-family: inherit;
  width: 220px;
  height: 220px;
  padding: 20px;
  border: 0;
  border-top-left-radius: 0;
}
.react-date-picker__clock .react-clock__second-hand {
  transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
}
.react-date-picker__clock .react-clock__second-hand__body:before {
  width: 5px;
  height: 5px;
}
.react-date-picker__clock .react-clock__second-hand__body:after {
  width: 15px;
  height: 15px;
}
@description: A date picker for your React app.;

.react-calendar {
  border-radius: 4px;
  width: 350px;
  max-width: 100%;
  background: white;
  font: inherit;
  line-height: 1.125em;
  border: 0;
  overflow: hidden;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font: inherit;
  font-size: 0.8em;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 10px;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
/* Mine */

.react-calendar__tile,
.react-calendar__month-view__days__day {
  color: black;
}

.react-calendar__navigation__label {
  color: black;
}

.react-calendar__navigation__arrow,
.react-calendar__navigation__next-button {
  color: black;
}

.react-date-picker__clear-button,
.react-date-picker__button {
  width: 50px;
}

.react-date-picker__wrapper {
  border: none !important;
}

.react-date-picker__inputGroup__input:focus {
  border: none;
}

textarea:focus {
  border: none !important;
}

div.description {
  width: 90%;
  height: 100%;
}

span.resumeName {
  font-size: 20px;
}
